* {
  padding: 0;
  margin: 0;
  background: white;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --primary-color: white;
  --secondary-color: black;
  --obtacles-width: 64px;
  --anim-duration: 2s;
  --canvas-height: 620px;
  --chracter-size: 40px;
  --hole-height: 200px;
}

#canvas {
  width: auto;
  height: var(--canvas-height);

  #block {
    width: var(--obtacles-width);
    height: 620px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 400px;
    animation: blocks 2s infinite linear;
  }

  #hole {
    width: var(--obtacles-width);
    height: 200px;
    background-color: white;
    position: absolute;
    left: 400px;
    top: calc(var(--canvas-height) / 2 - calc(var(--hole-height) / 2));
    animation: blocks 2s infinite linear;
  }

  #character {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: calc((var(--canvas-height) / 2) - calc(var(--chracter-size) / 2));
    border-radius: 50%;
  }
}

.status-board {
  .score {
    font-family: "Poppins";
    font-weight: bold;
    width: 240px;
    display: inline-block;
    margin: 1.5em;
    padding: 1em;
    border: 1px solid black;
  }
}
.debug {
  font-family: "Poppins";
  color: red;
  margin: 8px;
  font-size: 1.2em;
  left: 0;
  bottom: 0%;
  background: none;
  z-index: 999;
  position: absolute;

  h6 {
    padding: 2px;
    display: block;
    background: whitesmoke;
  }
}

#option-gameover {
  display: none;
  z-index: 99;
  height: 200px;
  position: relative;
  width: 400px;
  top: 50%;
  margin: auto;
  border: 4px solid black;
  border-radius: 16px;
  font-family: "Poppins";

  h4 {
    text-align: center;
    font-size: 1.5em;
    margin: 16px;
    color: red;
  }

  h5 {
    text-align: center;
    font-size: 1.2em;
  }

  #try-again {
    border: 2px solid black;
    font-size: 1.1em;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;
    width: fit-content;
    padding: 8px;

    &:hover{
      background-color: black;
      color: white;
    }
  }
}

@keyframes blocks {
  0% {
    left: 100vw;
  }
  100% {
    left: -64px;
  }
}


.debug{
  display: none;
}